[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "bfquickload"
version = "0.1.0"
dependencies = [
    "fastapi",
    "uvicorn",
    "sqlmodel",
    "pyyaml",
    "requests",
]
